<li class="nav-item">
    <button class="nav-btn"> <i class="bi bi-newspaper" style="font-size: 1.2rem; color: #9dd38f;"></i> Folha <i class="bi bi-chevron-down chevron"></i>
    </button>
    <div class="dropdown-panel sortable-submenu">
        <a href="{% url 'folha:folha_mensal_list' %}?banco={{ request.banco }}">Conferência de Folha</a>
        <a href="{% url 'folha:folha_mensal_listar' %}?banco={{ request.banco }}">Folha Mensal Listar</a>
        <a href="{% url 'funcionarios:listar' %}?banco={{ request.banco }}">Funcionários</a>
        <a href="#">Eventos</a>
    </div>
</li>
