<li class="nav-item">
    <button class="nav-btn"> <i class="bi bi-people-fill" style="font-size: 1.2rem;  color: #eccb6e;"></i> Cadastros <i
            class="bi bi-chevron-down chevron"></i>
    </button>
    <div class="dropdown-panel sortable-submenu">
        <a href="{% url 'empresas:listar' %}?banco={{ request.banco|default:'rta0001' }}">
            Empresas
        </a>
        <a href="{% url 'usuarios:listar' %}?banco={{ request.banco|default:'rta0001' }}">
            Usuários
        </a>
    </div>
</li>