<li class="nav-item">
    <button class="nav-btn"> <i class="bi bi-tablet-landscape" style="font-size: 1.2rem;  color: #14ff91;"></i> Tabelas <i
            class="bi bi-chevron-down chevron"></i>
    </button>
    <div class="dropdown-panel sortable-submenu">
        <a href="#">Salário Família</a>
        <a href="#">Salário mínimo</a>
        <a href="#">INSS</a>
        <a href="#">IR</a>
        <a href="{% url 'irrf_list' %}">IRPF</a>
        <a href="#">PIS</a>
        <a href="#">Contribuição sindical patronal</a>
        <a href="#">Cédulas e Moedas</a>
        <a href="#">índices mensais</a>
        <a href="#">índices para FGTS</a>
        <a href="#">Vencimentos</a>
        <a href="#">Planos de saúde</a>
    </div>
</li>