<li class="nav-item">
    <button class="nav-btn"> <i class="bi bi-book-half" style="font-size: 1.2rem;  color: #ebb6ba;"></i> Processos <i
            class="bi bi-chevron-down chevron"></i>
    </button>

    <div class="dropdown-panel sortable-submenu">
        {% comment %}
        <div
            class="submenu-item"
            tabindex="0"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            data-submenu-toggle
        >Preparações
            <div class="submenu-panel" role="menu" style="display:none;">
                <a href="{% url 'prepara_recisoes:listar' %}?banco={{ request.banco|default:'rta0001' }}" role="menuitem">
                    Rescisões
                </a>
                <a href="#" role="menuitem">
                    Situações
                </a>
                <a href="#" role="menuitem">
                    Verbas agrupadas
                </a>
                <a href="#" role="menuitem">
                    Verbas automáticas
                </a>
            </div>
        </div>
        {% endcomment %}
    </div>

</li>