{% extends "tabelas/base_tabelas.html" %}

{% block tabelas_content %}
<div class="row g-3">
    <div class="col-12">
        <h2 id="title"><i class="bi bi-tablet-landscape"></i> Tabela IRRF</h2>
    </div>

    <!-- DESKTOP -->
    <div class="col-12 d-none d-md-block">
        <div class="table-wrapper">
            <div class="table-scroll">
                <table class="app-table">
                    <thead>
                        <tr>
                            <th>Referência</th>
                            <th>Faixas(01) - Faixas(02)</th>
                            <th>Faixas(03) - Faixas(04)</th>
                            <th>Alíquota(01)</th>
                            <th>Alíquota(02)</th>
                            <th>Alíquota(03)</th>
                            <th>Alíquota(04)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in tabelas %}
                        <tr>
                            <td>{{ t.irrf_refe }}</td>
                            <td>{{ t.irrf_fa01 }} - {{ t.irrf_fa02 }}</td>
                            <td>{{ t.irrf_fa03 }} - {{ t.irrf_fa04 }}</td>
                            <td>{{ t.irrf_pe01 }}</td>
                            <td>{{ t.irrf_pe02 }}</td>
                            <td>{{ t.irrf_pe03 }}</td>
                            <td>{{ t.irrf_pe04 }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">Nada encontrado</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- MOBILE -->
    <div class="col-12 d-block d-md-none">
        <div class="list-card-view">
            {% for t in tabelas %}
            <article class="list-card-item">
                <div class="list-card-head">
                    <strong>Tabela IRRF</strong>
                    <span>{{ t.irrf_refe }}</span>
                </div>

                <div class="list-card-grid">
                    <p><small>Faixas 1-2</small>{{ t.irrf_fa01 }} - {{ t.irrf_fa02 }}</p>
                    <p><small>Faixas 3-4</small>{{ t.irrf_fa03 }} - {{ t.irrf_fa04 }}</p>

                    <p><small>Alíq 1</small>{{ t.irrf_pe01 }}</p>
                    <p><small>Alíq 2</small>{{ t.irrf_pe02 }}</p>
                    <p><small>Alíq 3</small>{{ t.irrf_pe03 }}</p>
                    <p><small>Alíq 4</small>{{ t.irrf_pe04 }}</p>
                    <p><small>Alíq 5</small>{{ t.irrf_pe05 }}</p>
                    <p><small>Alíq 6</small>{{ t.irrf_pe06 }}</p>
                    <p><small>Alíq 7</small>{{ t.irrf_pe07 }}</p>
                </div>
            </article>
            {% empty %}
            <div class="list-card-empty">Nada encontrado</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}